@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}



body {
  font-family: 'Roboto Slab', serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.nav-bg {
      background: rgb(229,235,251);
        background: linear-gradient(71deg, rgba(229, 235, 251, 1) 26%, rgba(234, 243, 252, 1) 100%);
        position: sticky;
        top: 0;
        z-index: 9;
}
